
<div class="container">
<div class="row">

<div class="col-md-2"style="background: #000000; color:#FFD700"><a [routerLink]="['home']"> Home </a></div>
<div class="col-md-2"style="background: #000000; color:#FFD700"><a [routerLink]="['servico']"> Serviço </a></div>
<div class="col-md-2"style="background: #000000; color:#FFD700"><a [routerLink]="['contato']"> Contato </a></div>
<div class="col-md-2"style="background: #000000; color:#FFD700"><a [routerLink]="['produto']"> Produtos </a></div>
<div class="col-md-2"style="background: #000000; color:#FFD700"><a [routerLink]="['creditos']"> Créditos </a></div>
<div class="col-md-2"style="background: #000000; color:#FFD700"><a [routerLink]="['comoficaria']"> Meu site </a></div>

</div>
<div id="meio">
    <p>Meio</p>
</div>

